CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

opt/lua-protobuf/CMakeFiles
*.o 
*.vcxproj
*.user
*.filters
*.exp
*.ilk

build*
2017
lib
bin
.vscode
logs
proto/*.a
proto/protoc
proto/out
version/version_config.h